@media only screen and (max-width: 1200px) {
    .top-content {
        padding: {
            left: 15px;
            right: 15px;
        }
    }
    nav {
        ul {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .divider {
        justify-content: center;
        h2 {
            padding: 0;
        }
    }
    .new-product:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .top-content {
        .grid-cols {
            .search {
                width: 350px;
            }
        }
    }
    nav {
        ul {
            flex-wrap: wrap;
        }
    }
    .banner {
        padding: {
            left: 20px;
            right: 40px;
        }
    }
    .brands-container {
        justify-content: space-around;
    }
    .new-products {
        .new-product {
            border-right: none;
        }
        .new-product:nth-child(3) {
            display: none;
        }
        .img-container {
            max-width: 150px;
            height: auto;
        }
    }
    .featured {
        padding-left: 5%;
        padding-right: 5%;
        .product {
            margin-right: 2%;
            margin-left: 2%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .top-content {
        .search {
            display: none;
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .mobile-menu-icon {
            display: flex;
            width: 35px;
            height: 35px;
            margin-left: 25px;
            background: url(../img/nav-icon.png) no-repeat;
            cursor: pointer;
        }
        .search-field {
            width: 100%;
            border: 1px solid #E1E1E1;
            border-radius: 2px;
            background-image: url("../img/search.png");
            background-repeat: no-repeat;
            background-position: 98% center;
        }
        .mobile-search {
            display: flex;
            width: 150px;
            margin-right: 25px;
            input.search-field {
                height: 25px;
            }
        }
        ul {
            width: 100%;
            display: none;
            flex-direction: column;
            position: absolute;
            top: 45px;
            left: 0;
            li {
                margin: 0;
                display: flex;
                padding-left: 10px;
                padding-right: 10px;
                background-color: #fff;
                border-bottom: 1px solid #E2E2E2;
                cursor: pointer;
                &:nth-child(even) {
                    display: none;
                }
                &:last-child {
                    border-bottom: 0;
                }
                &:hover {
                    background-color: #43B6A8;
                    a {
                        color: #fff;
                    }
                }
                a {
                    margin: 0 auto;
                    color: #555;
                }
            }
        }
    }
    .banner {
        padding: {
            left: 0px;
            right: 0px;
        }
    }
    .banner-content {
        flex-direction: column;
        margin-bottom: 25px;
        .banner-img-container,
        .banner-text-container {
            width: 90%;
            margin: 0 auto;
        }
    }
    .brands-container {
        ul {
            margin-left: 9%;
            margin-right: 9%;
        }
    }
    .new-products {
        padding-left: 10px;
        padding-right: 10px;
        .new-product {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
            .img-container {
                margin: 0;
            }
            .shop-button {
                align-self: center;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .new-products {
        .new-product {
            display: none;
            padding: {
                left: 0px;
                right: 0px;
            }
            &:nth-child(2) {
                display: flex;
            }
        }
    }
}