@media only screen and (max-width: 1200px) {
    .top-content {
        padding: {
            left: 15px;
            right: 15px;
        }
    }
    nav {
        ul {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .new-product:nth-child(3) {
        display: none;
    }
    .divider {
        h2 {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 992px) {
    .top-content {
        .grid-cols {
            .search {
                width: 350px;
            }
        }
    }
    nav {
        ul {
            flex-wrap: wrap;
        }
    }
    .banner {
        padding: {
            left: 20px;
            right: 40px;
        }
    }
    .brands-container {
        justify-content: space-around;
    }
    .new-products {
        padding-left: 5%;
        padding-right: 5%;
        .new-product {
            border-right: none;
        }
    }
    .new-product:nth-child(3),
    .new-product:nth-child(4) {
        display: none;
    }
    .featured {
        padding-left: 5%;
        padding-right: 5%;
        .product {
            margin-right: 2%;
            margin-left: 2%;
        }
    }
    .divider {
        justify-content: center;
        h2 {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .top-content {
        .search {
            display: none;
        }
    }
    nav {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        .mobile-menu-icon {
            display: flex;
            width: 35px;
            height: 35px;
            margin-left: 25px;
            background: url(../img/nav-icon.png) no-repeat;
            cursor: pointer;
        }
        .mobile-search {
            display: flex;
            width: 150px;
            margin-right: 25px;
            input {
                width: 100%;
                height: 25px;
                border: 1px solid #E1E1E1;
                border-radius: 2px;
                background-image: url("../img/search.png");
                background-repeat: no-repeat;
                background-position: 98% center;
            }
        }
        ul {
            li {
                display: none;
            }
        }
    }
    .banner {
        padding: {
            left: 0px;
            right: 0px;
        }
    }
    .banner-content {
        flex-direction: column;
        .banner-img-container {
            width: 95%;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
    .brands-container {
        ul {
            margin-left: 9%;
            margin-right: 9%;
        }
    }
    .new-products {
        .new-product {
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
            .img-container {
                margin: 0;
            }
            .shop-button {
                align-self: center;
            }
        }
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}