@import "vars";
@import "normalize";
@import "fonts";
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    min-width: 320px;
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-left {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-top {
    align-items: flex-start;
}

.flex-middle {
    align-items: center;
}

.flex-bottom {
    align-items: flex-end
}

.main-wrapper {
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3CC395;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: "BebasNeue", sans-serif;
    font-size: 19px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        color: #188D76;
    }
    
}

.top-content {
    max-width: 985px;
    margin: auto;
    .logo {
        margin: 0;
        font-family: "Lobster", serif;
        font-size: 50px;
        color: #3CC3B5;
        cursor: pointer;
    }
    .search {
        display: flex;
        width: 436px;
        input {
            width: 100%;
            height: 33px;
            border: 1px solid #E1E1E1;
            border-radius: 2px;
            background-image: url("../img/search.png");
            background-repeat: no-repeat;
            background-position: 98% center;
        }
    }
    .cart {
        margin-top: -7px;
        cursor: pointer;
        img {
            width: 41px;
            height: 37px;
            margin-right: 18px;
        }
        .total-price {
            margin-top: 6px;
            font-family: "BebasNeue", sans-serif;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #A1A1A1;
        }
    }
}

nav {
    background-color: #4CCFC1;
    .mobile-menu-icon {
        display: none;
    }
    .mobile-search {
        display: none;
    }
    ul {
        max-width: 990px;
        margin: 0 auto;
        padding: 0px;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            color: #fff;
            margin-right: 13px;
            font-family: "BebasNeue", sans-serif;
            font-size: 21px;
            list-style: none;
            a {
                color: #fff;
                text-decoration: none;
                letter-spacing: 0.5px;
                white-space: nowrap;
                &:hover {
                    color: #f0f0f0;
                }
            }
        }
    }
}

.s-banner {
    background: url("../img/background.jpg");
}

.banner {
    width: 800px;
    color: #fff;
    padding: {
        top: 42px;
        bottom: 42px;
    }
    .banner-img-container {
        max-width: 250px;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    .banner-text-container {
        width: 400px;
        h2 {
            font-family: "BebasNeue";
            font-size: 61px;
            line-height: 1.0em;
        }
        p {
            font-family: "Opensans", sans-serif;
            font-size: 15px;
        }
        .button-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 139px;
            height: 46px;
            border: 3px solid #fff;
            border-radius: 7px;
            background-color: rgba(255, 255, 255, 0.0);
            font-family: "BebasNeue", sans-serif;
            font-size: 27px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
        }
    }
    .dots {
        .dot {
            width: 9px;
            height: 9px;
            margin-top: 50px;
            margin-right: 10px;
            border-radius: 100%;
            background-color: #fff;
            &.active {
                background-color: rgba(255, 255, 255, 0.49);
            }
        }
    }
}

.s-new-products {}

.new-products {
    max-width: 1215px;
    margin: 0 auto;
    h3 {
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #AFAFAF;
        font-family: "BebasNeue", sans-serif;
        font-size: 27px;
        line-height: 1.0em;
        font-weight: 600;
    }
    .img-container {
        margin-right: 60px;
    }
    .new-product {
        padding: 25px 65px 32px 25px;
        border-right: 1px solid #E7E7E7;
        img {
            display: block;
            max-width: 220px;
            height: auto;
        }
        &:nth-child(4) {
            border: none;
        }
    }
    .shop-button {
        @extend .button;
        width: 60px;
        height: 32px;
    }
    .arrow {
        align-self: center;
    }
}

.s-divider {
    background-color: #3DC4B6;
}

.divider {
    height: 68px;
    align-items: center;
    h2 {
        padding-left: 175px;
        font-family: "BebasNeue", sans-serif;
        font-size: 27px;
        font-weight: bold;
        color: #fff;
    }
}

.featured {
    flex-wrap: wrap;
    max-width: 950px;
    margin-bottom: 50px;
    .product {
        width: 250px;
        height: 260px;
        margin-top: 45px;
        border: 1px solid #E4E4E4;
        border-bottom: 5px solid #3CC395;
        border-radius: 4px;
        font-family: "BebasNeue", sans-serif;
        box-shadow: 0px 0px 0px 1px rgba(246, 246, 246, 1);
        padding: {
            top: 20px;
            right: 50px;
            bottom: 30px;
            left: 50px;
        }
        h3 {
            margin: 0;
            text-align: center;
            font-size: 27px;
            font-weight: 600;
            color: #AFAFAF;
            line-height: 1.0em;
        }
        .product-text-container {
            margin-top: auto;
        }
        .img-container {
            margin: 0 auto;
            max-width: 250px;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        .price {
            font-size: 27px;
            font-weight: bold;
            color: #AFAFAF;
        }
        .buy-button {
            @extend .button;
            width: 75px;
            height: 35px;
        }
    }
}

footer {
    background-color: #3CC3B5;
    color: #fff;
    .brands-container {
        width: 100%;
        max-width: 880px; 
        flex-wrap: wrap; 
        ul {
            padding: 0;
            list-style: none;
            li {
                padding-left: 3px;
                font-family: "Opensans", sans-serif;
                font-size: 15px;
                &:first-child {
                    padding-left: 0px;
                    font-family: "BebasNeue";
                    font-size: 27px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .brands-container {
                padding-left: 5px;
            }
        }
    }
    .copyrighting {
        height: 46px;
        background-color: #2DA89B;
        font-family: "Opensans", sans-serif;
        font-size: 15px;
    }
}

@import "media";